.sidebar-wrapper{
    position: fixed;
    position: fixed; /* 使用 fixed 定位 */
    top: 10vh; /* 从顶部开始定位 */
    right: 0; /* 从右侧开始定位 */
    width: 10vw; /* 设置侧边栏宽度 */
    height: 80vh; /* 设置侧边栏高度，使用视口高度 */
    background-color: #f0f0f0; /* 设置背景色 */
    display: flex; /* 使用 flexbox 布局 */
    flex-direction: column; /* 垂直布局 */
    justify-content: flex-start; /* 从顶部开始对齐 */
    align-items: center; /* 居中对齐 */
    padding: 20px; /* 设置内边距 */
}

.sidebar-wrapper ul li{
    margin-top: 5vh;    
}