body, html{
    height: 100%;
    margin: 0;
    color: black;
    /* background-color: rgba(0, 0, 0 , 0.1); */
}

h1{
    font-size: 45px;
    font-family: 'Dancing Script',serif;
}

h1 em{
    font-size: 77px;
}

.main-div{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 22fr 1fr;
}

#bg-canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;    /* 将bg-canvas放置在最底层 */
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

header{
    padding-bottom: 10px;
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr; /* 列1自适应宽度，列2占据剩余空间 */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 4vh;
    /* font-size: 0.875rem; */
}

/* 设置导航栏品牌文字的颜色 */
.navbar .navbar-brand {
    color: rgba(244, 209, 7, 0.86);
    display: block;
    margin-left: 10px;
    font-size: 2em;
}

/* 设置导航栏中菜单链接的样式，包括颜色和过渡效果 */
.navbar .nav-item .nav-link {
    margin-right: 10px;
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

  
/* 设置导航栏中菜单链接的鼠标悬停样式 */
.navbar .nav-item .nav-link:hover {
    color: rgba(7, 99, 161, 0.7);
    
}


/* 设置导航栏中菜单链接的聚焦样式 */
.navbar .nav-item .nav-link:focus {
    color: rgba(19, 179, 33, 0.7);
}

.navbar ul{
    list-style-type: none;
    margin-right: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li{
    margin: 0 15px;
    font-size: 1em;
}

.navbar ul li a{
    text-decoration: none;
    padding: 5px 20px;
}


.show-me{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0 auto;
}

section{
    padding: 20px;
    text-align: right;
}

footer{
    padding: 10px 0;
    text-align: center;
}


.main-content{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.flex-item{
    flex: 1;
    display: flex;
    margin: 10px;
    padding: 20px;
}

.flex-unit{
    flex: 1;
    display: block;
    margin: 10px;
    padding: 20px;
}

.dotted-border{
    border: 2px dotted blueviolet;
    border-radius: 8px;
}


/* 设置figure使得caption在img正下方 */
.img-container{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
}

.img-container img{
    grid-row: 1;
}

.img-container figcaption{
    grid-row: 2;
}

.no-underline{
    text-decoration: none;
}
