*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    margin: 5px;
    border: 5px dotted blueviolet;
    border-radius: 10px;
    padding: 20px;
    background: radial-gradient(at left bottom, #ee96e1, #8475dc);
}

.float{
    float: right;
    width: 150px;
    margin-right: 30px;
    border-radius: 20%;
}

.float img{
    border-radius: 10%;
}

article{
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
}

address{
    /* position: absolute; */
    bottom: 8mm;
    right: 20mm;
}

h1{
    /* position: absolute; */
    top: 12mm;
    left: 20mm;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 2px 2px 2px black;
}